<html>

<head>
  <title>Light Box</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
</head>

<body>


  <div class="container">



    <div class="container gallery-container">

      <h1 class="text-center">Bootstrap 3 Gallery</h1>

      <p class="page-description text-center">Grid Layout With Zoom Effect</p>

      <div class="tz-gallery">

        <div class="row mb-3">
          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="https://i.imgur.com/thjjnBE.jpg">
                <img src="https://i.imgur.com/thjjnBE.jpg" alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="https://i.imgur.com/vyusBoz.jpg">
                <img src="https://i.imgur.com/vyusBoz.jpg" alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="https://scontent.facc1-1.fna.fbcdn.net/v/t1.0-9/38033560_2157902490917512_4588398950561611776_n.jpg?_nc_cat=0&oh=5bae7ee9574a62ea57181eaf6dbfe6f7&oe=5C264002">
                <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t1.0-9/38033560_2157902490917512_4588398950561611776_n.jpg?_nc_cat=0&oh=5bae7ee9574a62ea57181eaf6dbfe6f7&oe=5C264002"
                  alt="Park" class="card-img-top">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="https://i.imgur.com/huljvb7.jpg">
                <img src="https://i.imgur.com/huljvb7.jpg" alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="https://i.imgur.com/OMzHKb1.jpg">
                <img src="https://i.imgur.com/OMzHKb1.jpg" alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <a class="lightbox" href="https://i.imgur.com/nLNz22v.jpg">
                <img src="https://i.imgur.com/nLNz22v.jpg" alt="Park" class="card-img-top">
              </a>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  <script>
      baguetteBox.run('.tz-gallery');
  </script>
</body>

</html>