.section {
  background-color: #151f20;
}

.title {
  color: black;
}

.btn {
  color: white;
  background-color: transparent;
}

.info .h4, .info h4 {
  color: white;
}

h2 {
  color: white;
}

label {
  color: white;
}

a.nav-link:hover {
  color: red;
}

div#t ul li a {
  color: white;
  text-shadow: 0px 2px black;
}

body > div.main > div.section.section-gray {
  background-image: url(/images/connect.jpg);
  background-size: cover;
}

p.t {
  font-weight: 500;
  font-weight: 500;
  color: white;
  text-shadow: 1px 2px black;
}

small.t {
  font-size: 60%;
  font-weight: 500;
}

footer#contact {
  background-image: radial-gradient(circle, #efefef, #cfcfcf, #afafaf, #909090, #737373);
}